@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>  
</head>
<body>
    <div class="container-fluid" style="display:flex">
        <div class="container" style="flex:1">
            <div class="row">
                <partial name="_Category" />
            </div>
        </div>
        <div class="container" style="margin-right:20px;">
            <div class="row">
            </div>
        </div>
    </div>

</body>
</html>
